# Puerto en el que corre la aplicación
PORT=3000

# URI de conexión a MongoDB (reemplaza <username>, <password> y <cluster> con tus datos reales)
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>

#Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# Configuración de JWT
JWT_SECRET=your_very_long_and_secure_secret_key_here_123456789
JWT_EXPIRES_IN=24h